$primary-blue: #3019b2;
$primary-blue-dark: #271c47;
$primary-yellow: #f7ca11;
$text-dark: #3f3f40;
$text-light: #9f9f9f;
$text-white: #ffffff;
$bg-light-gray: #f4f4f4;
$bg-white: #ffffff;
$border-color: #f0f0f0;
